// 立幅560px＋407px⁼967px、横幅1282px
#concept {
  background-color: #ffffff;
  width: 1282px;
  height: 967px;
  background: linear-gradient(#a193861f 50%, #a1938689 50%);
  color: #707070;
}
// 画像1(横幅675px)、画像2(391px)、縦413px div612px
.concept-wrap {
  display: flex;
  justify-content: space-between;
  width: 84%;
  height: 100%;
  margin-left: 10.7rem;
  .concept-item_img {
    display: flex;
    width: 100%;
    height: 67%;
    img {
      width: 100%;
      height: 100%;
    }

    :nth-child(2) {
      margin-left: 11px;
    }
  }
  // info横幅994px
  .concept-item_info {
    display: flex;
    justify-content: space-between;
    width: 94.4rem;
    height: 13rem;
    margin: 6rem auto;
    .concept-item_title {
      width: 44.5rem;
      height: 4.2rem;
      font-size: 40px;
    }
    .concept-item_desc {
      width: 44.2rem;
      height: 13rem;
    }
  }
}
