// 立幅560px＋407px⁼967px、横幅1282px
#concept {
  scroll-snap-align: start;
  background-color: #ffffff;
  width: 128.2rem;
  height: 96.7rem;
  background: linear-gradient(#a193861f 50%, #a1938689 50%);
  color: #fff;
  @include sp {
    background: linear-gradient(#a193861f 20%, #a1938689 40%, #a1938689 40%);
    width: 59.9rem;
    height: 71.127rem;
  }
}
// 画像1(横幅675px)、画像2(391px)、縦413px div612px
.concept-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 10.7rem;
  padding-left: 10.7rem;
  @include sp {
    padding: 0 1rem 0 1rem;
  }
  .concept-item {
    width: 100%;
    height: 100%;
    .concept-item_img {
      display: flex;
      width: 100%;
      height: 41.3rem;
      @include sp {
        height: 20.5rem;
      }
      .concept-item_img1 {
        width: 63%;
        height: 41.3rem;
        background-image: url(../image/andrew-neel-f480QIEvwGI-unsplash@2x.png);
        background-size: cover;
        max-height: 100%;
        @include sp {
          width: 50%;
          background-image: url(../image/andrew-neel-f480QIEvwGI-unsplash.png);
          background-size: cover;
          background-position: right top;
          background-repeat: no-repeat;
        }
      }
      .concept-item_img2 {
        width: 37%;
        height: 41.3rem;
        max-height: 100%;
        background-image: url(../image/joel-mott-mNYL0surXh8-unsplash@2x.png);
        @include sp {
          width: 50%;
          background-image: url(../image/joel-mott-mNYL0surXh8-unsplash.png);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      :nth-child(2) {
        margin-left: 11px;
      }
    }
    // info横幅994px
    .concept-item_info {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 13rem;
      margin: 6rem auto;
      @include sp {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        margin: 5rem auto;
      }
      .concept-item_title {
        width: 44.5rem;
        height: 4.2rem;
        font-size: 40px;
        @include sp {
          text-align: center;
        }
      }
      .concept-item_desc {
        width: 44.2rem;
        height: 13rem;
        @include sp {
          margin-top: 1.8rem;
        }
      }
    }
  }
}


//sample//

// #concept {
//     height: 100%;
//     overflow: hidden; //innerのmarginもかかってしまうため対策
//     background: linear-gradient(360deg, #A1938689 0%, #A1938689 58.3%, #A193861F 58.3%, #A193861F 100%);
//     // グラデーションの応用。360deg = 下から上に向かって。 0%-58%まで濃色（違う色を指定するとグラデになる）、58-100%まで淡色
// }



// .con-img__wrap {
//     display: flex;  
//     justify-content: space-between;
//     width: 100%;
//     height: 63.8%; //img-height:413px ÷ inner-height:647px41
//     @include sp {
//         height: 34.9%; //205÷587px(inner-height)
//     }
//     div {
//         overflow: hidden;
//         &:nth-of-type(1) {
//             width: 62.7%;
//             img {
//                 width: 100%;
//             }
//         }
//         &:nth-of-type(2) {
//             width: 36.3%;
//             img {
//                 width: 100%;
//             }
//         }
//         @include sp {
//             &:nth-of-type(1), &:nth-of-type(2) {
//                 width: 49%;
//                 img {
//                     min-width: 100%;
//                     height: auto;
//                     object-fit: cover;
//                     object-position: 100% 50%;
//                     width: 43.7vw;
//                     height: 30.8vh;
//                 }

//             }
//         }
//     }
// }

// .con-txt {
//     margin-top: 69px;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     color: #fff;
//     @include sp {
//         margin-top: 50px;
//         flex-direction: column;
//         // justify-content: space-between;
//     }
//     &__heading {
//         font-family: "ヒラギノ明朝 Pro";
//         font-size: 4rem;
//         letter-spacing: 1.6rem;
//         // width: 42.3%; //可変したときに折り返してしまう
//         transform: translateY(-4.2rem);
//         @include tab {
//             font-size: 2.5rem;
//             letter-spacing: 1rem;
//             transform: translateY(-2rem);
//         }
//         @include sp {
//             transform: translate(0);
//             font-size: 1.8rem;
//             letter-spacing: 0.72rem;
//         }
//     }
//     &__desc {
//         width: 39.2%;
//         font-family: "ヒラギノ角ゴ Pro";
//         font-size: 1.6rem;
//         letter-spacing: 0.16rem;
//         line-height: 2.7rem;
//         @include tab {
//             font-size: 1.3rem;
//             line-height: 1.5rem;
//         }
//         @include sp {
//             width: 100%;
//             margin-top: 1.8rem;
//         }
//     }
// }