footer {
  background-color: #ffffff;
  width: 1282px;
  height: 34.2rem;
  color: #7070704d;
}
// 立幅342px、横幅1283px
.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 83%;
  height: 3.2rem;
  margin-left: 10.3rem;
  margin-top: 29.5rem;
  border-top: 1px solid #7070704d;
}

.company_info {
  font-size: 32px;
  margin-top: 83.5px;
  i {
    color: #000;
    margin-left: 9px;
  }
}

.reserve {
  font-size: 18px;
  margin-top: 80.5px;
  .reserve-btn {
    width: 184px;
    height: 37px;
    opacity: 0.5;
    text-align: center;
  }
}
// btn立幅37px、横幅184px
