footer {
  background-color: #ffffff;
  width: 128.2rem;
  height: 34.2rem;
  color: #7070704d;
  @include sp{
    width: 59.9rem;
  }
}
// 立幅342px、横幅1283px
.footer-wrap {
  display: flex;
  justify-content: space-between;
  width: 83%;
  height: 3.2rem;
  margin-left: 10.3rem;
  margin-top: 29.5rem;
  border-top: 1px solid #7070704d;
}

.company_info {
  font-size: 32px;
  margin-top: 83.5px;
  i {
    color: #000;
    margin-left: 9px;
  }
}

.reserve {
  font-size: 18px;
  margin-top: 80.5px;
  .reserve-btn {
    width: 184px;
    height: 37px;
    opacity: 0.5;
    text-align: center;
  }
}
// btn立幅37px、横幅184px


//sample//

// .footer-inner {
//     width: 100% - 8.3% *2;
//     margin: 164.5px auto 62px;
//     padding-top: 83.5px;
//     display: flex;
//     justify-content: space-between;
//     border-top: 1px solid #70707036;
//     @include sp {
//         flex-direction: column-reverse;
//         padding-top: 60.5px;
//         margin: 63.5px auto 1.9rem;
//         align-items: center;
//     }
// }

// .ft-wrap {
//     display: flex;
//     align-items: center;
//     @include sp {
//         justify-content: space-between;
//         margin-top: 6.2rem;
//         width: 100%;
//     }
// }

// .footer-title {
//     font-family: "Roboto Mono for Powerline";
//     color: #7070704D;
//     font-size: 3.2rem;
//     letter-spacing: 0.32rem;
//     @include tab {
//         font-size: 2.5rem;
//         letter-spacing: 0.25rem;
//     }
//     @include sp {
//         font-size: 1.8rem;
//         letter-spacing: 0.18rem;
//     }
// }
// .fa-wrap {
//     color: black;
//     letter-spacing: 0;
//     font-size: 1.9rem;
// }
// .twitter {
//     margin-left: 2.6rem;
//     margin-right: 0.9rem;
//     @include tab {
//         margin-left: 1.6rem;
//     }
// }

// .footer-reserve {
//     padding: 1rem 4.1rem;
//     color: $gray;
//     border: 1px solid;
// }