// menu縦幅921px
#menu {
  width: 128.2rem;
  height: 92.1rem;
  @include sp{
    width: 59.9rem;
    height: 184.373rem;
  }
  .menu-wrap {
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    width: 83%;
    // margin-left: 10.7rem;
    @include sp{
      width: 94%;
      display: flex;
      flex-direction: column;
      padding-left:2rem ;
      padding-right:2rem;
    }
    .menu-item {
      // 画像横幅270px、立幅555px(inner1068px)=28%
      width: 28%;
      height: 100%;
      @include sp{
        width: 100%;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
      }
      .menu-img {
        width: 100%;
      }
      .menu-img img {
        width: 100%;
        height: 100%;
      }
      .menu-content {
        .menu-item_title {
          text-align: center;
          font-size: 30px;
          margin-top: 3.4rem;
        }
        .menu-item_price {
          text-align: right;
          margin-top: 3.4rem;
        }
      }
    }
  }
}

//sample//

// .menu-wrap {
//     display: flex;
//     justify-content: space-between;
//     height: 100%;
//     @include sp {
//         flex-direction: column;
//     }
// }

// .menu-item {
//     width: 25.4%;
//     min-width: 254px;
//     display: flex;
//     flex-direction: column;
//     font-family: "Roboto Mono for Powerline";
//     @include tab {
//         width: 31%;
//         min-width: 0;
//     }
//     @include sp {
//         width: 100%;
//         & + * {
//             margin-top: 6.3rem;
//         }
//     }
//     img { //クラス名に指定しても機能しない。
//         width: 100%;

//     }
//     &__title {
//         font-size: 3rem;
//         letter-spacing: 0.3rem;
//         margin-top: 3.7rem;
//         text-align: center;
//         @include tab {
//             font-size: 1.7rem;
//             margin-top: 2.7rem;
//         }
//         @include sp {
//             font-size: 3rem;
//             margin-top: 3rem;
//             text-align: left;
//             padding: 0 3.8%;
//         }
//     }
//     &__desc, &__price{
//         letter-spacing: 0.16rem;
//         line-height: 1.9rem;
//         margin-top: 3.4rem;
//         padding: 0 3.7%;
//         @include tab {
//             font-size: 1.3rem;
//             margin-top: 2.4rem;
//         }
//         @include sp {
//             font-size: 1.6rem;
//             padding: 0 3.8%;
//         }
//     }
//     &__desc {
//         @include sp {
//             margin-top: 3rem;
//         }
//     }
//     &__price {
//         text-align: right;
//         margin-top: 2.6rem;
//     }
// }